$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  // border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  // border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    padding-bottom: 30px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  // .header {
  //   margin-bottom: 30px;
  // }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.home_imgs img {
  width: 100px;
  display: inline;
  padding: 10px;
  cursor: pointer;
}

#brands_handler {
  padding: 20px;
}

.hover-sidebar {
  width: 60px;
  background-color: #599229;
  position: fixed;
  height: 100%;
  margin: 0 auto;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
}

.hover-sidebar:hover {
  width: 150px;
}

.hover-sidebar #menu-icon {
  color: white;
  font-size: 20px;
  padding: 15px;
}

.hover-sidebar:hover #menu-icon {
  display: none;
}

.hover-sidebar .sidebarContent {
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  -webkit-transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  -moz-transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  -o-transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  -ms-transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  padding-top: 100%;
  margin-left: 10px;
}

.hover-sidebar:hover .sidebarContent {
  display: block;
  visibility:visible;
  opacity:1;
  transition-delay:0s;
  -webkit-transition-delay:0s;
  -moz-transition-delay:0s;
  -o-transition-delay:0s;
  -ms-transition-delay:0s;
}

.groupeerLink {
  font-size: 24px;
  color: #599229;
  text-decoration: none;
}